<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['home']" >U2BootBase App</a>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item " [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="authenticated()">
                <a class="nav-link" [routerLink]="['listtour']">Tourlist</a>
            </li>
        </ul>

        <div class="navbar-brand" *ngIf="authenticated()">  WELCOME {{getUserName()}}  </div>

        <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (submit)="login()" *ngIf="!authenticated()">
            <button class="btn btn-outline-info my-2 my-lg-0 ml-sm-2" type="submit">Login</button>
            <input class="form-control ml-sm-2" type="email" placeholder="email" id="useremail" name="useremail" [(ngModel)]="credentials.useremail">
            <input class="form-control ml-sm-2" type="password" placeholder="password" id="userpassword" name="userpassword" [(ngModel)]="credentials.userpassword">
        </form>

        <form #searchForm="ngForm" class="form-inline ml-sm-2 my-lg-0" (submit)="onSearchSubmit(searchValue.value, selectParam.value)" *ngIf="authenticated()">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="searchValue.length < 2">Search concert</button>
            <input class="form-control ml-sm-2" type="search" placeholder="search ..." #searchValue minlength="2" maxlength="20">
            <select class="ml-sm-2" name="selectParam" id="selectParam" #selectParam>
                <option value="city" selected>city</option>
                <option value="country">country</option>
                <option value="title">title</option>
            </select>
        </form>

        <button class="btn btn-outline-danger my-2 my-sm-0 ml-sm-2" (click)="logout()" *ngIf="authenticated()">Logout</button>
    </div>
</nav>
