/*Form Layout*/
.card {
    margin: 20px;
    box-shadow: gray 10px 10px;
}

.card-body {
    border: 1px solid black;
}

.form-icon {
    position: absolute;
    top: 15px;
    right: 10px;
    fill: white;
    width: 16px;
    height: 16px;
}

/* Form Validating */

.form-control.ng-valid.ng-dirty {
    border-left: 10px solid green;
}

.form-control.ng-invalid.ng-dirty {
    border-left: 10px solid red;
}
